* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}
:root {
  --light-color: rgb(240, 240, 252);
  --dark-color:rgb(27, 33, 44);

}

body {
  max-width: 1920px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: .5rem;
  background:  #eaeef6;
  background: url('../.png');
}

.top-logotype-logo {
  fill: rgb(22, 25, 27);
  height: 80px;
  width: 120px;
  margin-bottom: 1rem;
  transition: .5s;
}

.container {
  /* width: 100%; */
  max-width: 450px;
  max-height: 640px;
  /* padding: 4rem 5rem; */
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /* -webkit-box-reflect: below 10px; */
  transform: perspective(999px);
  overflow: hidden;
  position: relative;
  transition: .5s;
}



.container-inner {
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.links-container {
  width: 100%;
  min-width: 250px;
  transition: .8s ease-in-out;
}

.container:hover {
  transform: scale(1.2);
  box-shadow: 0 0.5 5rem 2rem 0 rgba(49, 49, 49, 0.25);

}

.btn {
  width: 100%;
  height: 2.3rem;
	display: flex;
  max-height: 2.3rem;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	font-weight: 600;
	color: var(--dark-color);
	background: transparent;
	border: 1px solid var(--dark-color);
	border-radius: .8rem;
	transition:  150ms ease;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.btn-filled {
	border: none;
	background: var(--dark-color);
  color: var(--light-color);

}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  color: transparent;
}


.btn span{
  position: absolute;
  top: 100%;
	transition:  150ms ease;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
}

.btn-filled span {
  box-shadow: 0 0 15px 5px var(--dark-color);
  color: var(--light-color);

}

.btn:hover span {
  top: 50%;
  transform: translateY(-50%);
}
